/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/* ----------- Properties ----------- */

/* Remove padding and margin, because we need all the screen */
html, body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: #f7c485;
    padding: 8px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

/* Set attributes for a element of the class */
nav ul {
    display: flex;
}

nav li {
    padding-left: 16px;
    list-style: none;
    color: white;
}

nav li a {
    color: black;
    text-decoration: none;
}

/* Hover is used for highligth a thing */
nav li a:hover {
    color: white;
    text-decoration: none;
}

/* ----------- Main Section ----------- */ 
.main_section {
    padding: 8%;
    text-align: center;
    font-size: 20px;
}

.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    /* This property fill the size of the content and center the image */
    background-size: cover;
    background-position: center top;
    padding: 16%;
    display: flex;
    justify-content: center;
}

.product {
    padding: 8px;
    margin-top: -300px;
}

.product .content{
    background-color: white;
    padding: 24px;
    /* Shadow of content: (positionX) (positionY) (size) (colour) */
    box-shadow: 0 0 2px #c1bcbc;
    text-align: center;
    font-size: 16px;
}

.img_content {
    text-align: center;
}

.main_button {
    background-color: #7acc2d;
    width: 100%;
    padding: 8px;
    font-size: 17px;
    color: white;
    border: 0;
    /* To put the hand of the cursor */
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #5e9e22;
}

/* ----------- Section with 3 more elements ----------- */
.title_other_products {
    padding: 1%;
    text-align: center;
    font-size: 20px;
}

.other_products {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 2px -2px #c1bcbc;
}

.other_product {
    padding: 20px;
}

.other_product .content {
    background-color: white;
    padding: 24px;
    text-align: center;
    font-size: 16px;
}